[project]
	description = Personal blog/aggregator/assistant
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Andrew (recoder)
[access "refs/for/refs/*"]
	read = group user/Andrew (recoder)
	push = group user/Andrew (recoder)
	label-Code-Review = -2..+2 group user/Andrew (recoder)
	label-Verified = -1..+1 group user/Andrew (recoder)
	rebase = group user/Andrew (recoder)
	removeReviewer = group user/Andrew (recoder)
	submit = group user/Andrew (recoder)
[access "refs/heads/*"]
	read = group user/Andrew (recoder)
	create = group user/Andrew (recoder)
	push = +force group user/Andrew (recoder)
	pushMerge = group user/Andrew (recoder)
[access "refs/tags/*"]
	push = group user/Andrew (recoder)
	push = +force group user/Andrew (recoder)
